/* --- Header Styles --- */
header {
    background: #ffffff;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* --- Logo --- */
.logo {
    max-height: 150px;
    width: auto;
    margin-bottom: 10px;
}

/* --- Navigation Links --- */
.nav-links {
    display: flex;
    justify-content: center; /* Centra los enlaces */
    list-style: none;
    padding: 0;
    gap: 2rem;
}

/* --- Navigation Link Styles --- */
.nav-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ffffff;
    text-decoration: none;
    color: #e66ea3;
    font-weight: bold;
    font-size: 1.2rem;
    border: 2px solid #ffffff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgb(244, 159, 196);
}

/* --- Hover State --- */
.nav-links a:hover {
    background-color: #e66ea3;
    color: #ffffff;
    border-color: #e66ea3;
    box-shadow: 0 6px 12px rgb(230, 110, 163);
}
